body {
  background-attachment: fixed;
  background-color: #000000;
  background-image: url(images/background.png);
  background-size: cover;

  color: #ffffff;
  font-family: sans-serif;
  font-size: 14px;
  margin: 10px 5px;
}

h1 {
  font-size: 21px;
  line-height: 1.3;
  margin-top: 40px;
  margin-bottom: 0.25em;
  border-bottom: solid 1px #505050;
}

.filters {
  margin: 10px 0 50px 0;
}

.filters .filter {
  display: inline-block;
}

.filters .results {
  margin-left: 20px;
}

.table-container table tr th:nth-of-type(1),
.table-container table tr td:nth-of-type(1) {
  width: 105px;
}

.table-container table tr th:nth-of-type(n+2) {
  min-width: 85px;
}

@media screen and (min-width: 768px) {
  body { margin: 0 65px; }
}

@media screen and (min-width: 1200px) {
  body { margin: 0 128px; }
}
